.container {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #696969;
}

.appName {
    color: #0049AF;
    font-size: 68px;
}

.imgLogo {
    margin-top: 8%;
    width: 320px;
    height: 320px;
}

.button-start {
 
    background: #007bff;;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: flex;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-start:hover {
    filter: brightness(90%);
    
}

.area_buttons {
    flex-direction: row;
}

.btn_area {
    
    justify-content: right;
    align-items: right;
    align-self: right;
}

.back-link {
    color: #377A2B;
}

.home-header {
    margin-top: 10%;
    
}

